body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main {
  width: 450px;
  height: 550px;
  background: #24243e;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.signup, .login {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-label {
  color: #fff;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input-group {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.field-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.field-label {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}

.login .field-label {
  color: #573b8a;
  font-size: 0.95rem;
  font-weight: bold;
}

input {
  width: 60%;
  height: 35px;
  background: #e0dede;
  padding: 0 10px;
  margin-right: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-field {
  background-color: #ccbbed;
  color: #35205a;
  font-size: 0.9rem;
  font-weight: 500;
}

button {
  width: 70%;
  height: 40px;
  margin: 30px auto 10px auto; /* Reduced margin to fit new text */
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.login {
  height: 500px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-160px);
  transition: .8s ease-in-out;
}

.login .main-label {
  color: #573b8a;
  padding-top: 20px;
  transform: scale(.7);
}

.forgot-password-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -5px;
}

.forgot-password {
  color: #573b8a;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.switch-form {
  text-align: center;
  color: black;
  font-size: 14px;
  margin-top: 10px;
  
}

.signup-link {
 
  color: #573b8a;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}

#chk:checked ~ .login {
  transform: translateY(-510px);
}

#chk:checked ~ .login .main-label {
  transform: scale(1);
}

#chk:checked ~ .signup .main-label {
  transform: scale(.6);
}