/* AuthForm.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* font-family: 'Jost', sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main {
  width: 450px; /* Widened to fit row layout */
  height: 550px; 
  background: #24243e;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.signup, .login {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-label {
  color: #fff;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input-group {
  width: 80%; 
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}

/* Row alignment logic */
.field-row {
  display: flex;
  align-items: center;
  justify-content:space-between ;
  margin-bottom: 15px;
}

.field-label {
  color: #fff;
  font-size: 14px;
  margin-left: 30px;
  /* flex: 0.8;  */
}

.login .field-label {
  color: #573b8a;
  font-size: 0.95rem;
  font-weight: bold;

}

input {
  flex: 0.6;
  height: 35px;
  background: #e0dede;
  padding: 0 10px;
  margin-right: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-field{
    background-color: #bb9df4;
   color: #35205a;
   font-size: 1rem;
   font-weight: 500;
}

button {
  width: 70%;
  height: 40px;
  margin: 50px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.login {
  height: 500px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-160px);
  transition: .8s ease-in-out;
}

.login .main-label {
  color: #573b8a;
  /* margin-top: 50px; */
  transform: scale(.7);
}

#chk:checked ~ .login {
  transform: translateY(-510px);
}

#chk:checked ~ .login .main-label {
  transform: scale(1);
}

#chk:checked ~ .signup .main-label {
  transform: scale(.6);
}
